*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.555);
  color: aliceblue;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}

.title{
  color: rgb(148, 7, 7);
}

img{
  width: 250px;
}

.movieList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}

.movie{
 width: fit-content;
  padding: 20px;
}